* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}
a {
  color: rgb(152, 155, 155);
}
header {
  position: sticky;
  width: 100%;
  background-color: #202124;
  color: rgb(226, 211, 211);
  display: grid;
  grid-template: 9vh / 5% 20% 20% 20% 20% 15%;
  top: 0;
  z-index: 1;
  font-size: 2.5vw;
}
nav {
  position: relative;
}
nav h1 {
  font-size: 2.5vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* F   O   R     I   N   P   U   T */
#search {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* F   O   R     C   A   T   E   G   O   R   Y */
.category section {
  position: relative;
  background-color: rgb(59, 14, 102);
  width: 100%;
  color: rgb(152, 155, 155);
  line-height: 50px;
  font-size: 15px;
  display: grid;
  grid-template: 25% 25% 25% 25% / 93% auto;
  text-align: center;
  overflow: hidden;
  transition: height 0.2s ease;
  height: 0px;
}
.category:hover {
  background-color: rgba(250, 235, 215, 0.178);
}
.category:hover section {
  height: 30vh;
  overflow: unset;
}
.category section h2:hover {
  background-color: #3b54a0;
}
.category section h1:hover {
  background-color: #3b54a0;
}
.expand {
  display: flex;
}
.expand div {
  position: absolute;
  background-color: white;
  width: 0px;
  margin-left: 19px;
  transition: width 0.2s ease;
  line-height: 30px;
  overflow: hidden;
}
.expand:hover div {
  display: inline;
  width: 60%;
}
.expand div h3:hover {
  background-color: #3b54a0;
}
/*   F   O   R      L   O   G   O */
.Logo {
  display: inline-block;
  text-align: left;
  color: rgb(110, 143, 20);
  letter-spacing: 1vw;
  font-style: italic;
  font-size: larger;
}
/* F   O   R      O   P   T */
.opt {
  position: absolute;
  text-align: left;
  font-size: 1.5vw;
  background-color: aliceblue;
  height: 91vh;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr /100%;
  width: 0px;
  overflow: hidden;
  transition: width 0.2s ease;
}
.opt a {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.336);
}
.btn:focus ~ .opt {
  width: 400%;
  border: solid black;
  border-width: 0 2px 2px 2px;
}
.opt a:hover {
  background-color: aqua;
}
/* F   O   R      B   O   D   Y */
body {
  background-color: darkslategrey;
}
main {
  display: flex;
  justify-content: space-between;
  margin-top: 4vh;
}
main img {
  width: 100%;
}
.mid {
  width: 70vw;
  text-align: center;
}
.mid h1 {
  padding: 2% 0;
}
.mid a {
  display: block;
  text-align: right;
}
.mid div div a {
  text-align: center;
}
.mid div {
  background-color: #202124;
  border-radius: 4%;
}
/*  F   O   R      G   A   M   E   S */
.g-banner {
  display: grid;
  grid-template: auto auto / 25% 25% 25% 25%;
}
.g-banner div {
  margin: 4% 4%;
  border: #383d49 double 2px;
}
/*  F   O   R      M   O   V   I   E   S */
.m-banner {
  display: grid;
  grid-template: auto auto / 25% 25% 25% 25%;
}
.m-banner div {
  margin: 4% 2%;
  border: #383d49 double 2px;
}
/* F   O   R      B   U   T   T   O   N */
.up {
  display: block;
  text-align: center;
  font-size: 55px;
}
/* F   O   R      A   D */
aside {
  width: 13vw !important;
  height: 100%;
  padding-top: 30vh;
  position: relative;
  top: 0;
}
#ad-l {
  position: absolute;
  right: 0;
  margin: -5% -5% 0 0;
  cursor: pointer;
  z-index: 100;
}
#ad-r {
  position: absolute;
  margin: -5%;
}
#ad-l:active {
  color: darkorange;
  display: none;
}
