html {
  display: flex;
  justify-content: center;
}
body {
  width: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 900px;
  gap: 20px;
}
section {
  display: grid;
  grid-template: 40% 40% 20%/ 30% auto;
  position: relative;
}
#failed {
    font-size: 15px;
    display: none;
}
input {
  height: 50%;
  width: 100%;
}
h1 {
  text-align: center;
}
#save {
  width: 20%;
  height: 50px;
  text-align: center;
}
#confirm {
  width: 50%;
  margin-left: 50%;
}
