@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  font-family: "Roboto", sans-serif;

}
html{  background-color: #fcf7de;}
header {
  height: 8vh;
  display: flex;
  justify-content: center;
  font-size: 20px;
  background-color: white;
}
header a img {
  height: 75%;
}
header a {
  display: flex;
  align-items: center;
}
/* 4   0   4   P   A   G   E*/
.error {
  position: absolute;
  margin-top: 5%;
  text-align: center;
  font-style: oblique;
  font-weight: 600;
}
/* N   A   V   I   G   A   T   I   O   N */
nav {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}
nav div {
  position: relative;
  cursor: pointer;
}
nav div i {
  font-size: 15px;
}
nav div ul {
  position: absolute;
  line-height: 9vh;
  width: 13vw;
  font-size: 18px;
  padding-left: 15px;
  box-shadow: 0px 10px 20px -20px;
  overflow: hidden;
  transition: opacity 0.5s ease;
  opacity: 0;
  height: 0;
}
nav div:hover ul {
  opacity: 1;
  height: auto;
}
nav div ul li:hover {
  color: rgb(165, 148, 127);
}
/* S   E   A   R   C   H*/
.search {
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.search input {
  border: none;
  outline: none;
  font-size: 18px;
  width: 75%;
}
/* C   A   R   T */
.cart {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.cart img {
  width: 50%;
}
/* B   A   N   N   E   R   1 */
.banner1 {
  margin-top: 15vh;
  display: flex;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
.pic1 {
  height: 40vh;
  border-radius: 65px;
  align-self: self-end;
}
.pic2 {
  height: 70vh;
  border-radius: 120px;
  margin-left: 5%;
}
.banner1 article {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.banner1 article h1 {
  font-size: 500%;
}
.banner1 article p {
  font-size: 150%;
  padding-right: 10%;
}
.banner1 article button {
  font-size: 100%;
  width: 250px;
  height: 50px;
  cursor: pointer;
  border: 1px solid rgb(177, 137, 137);
  border-radius: 10px;
}
.banner1 article button:hover {
  background-color: rgb(177, 137, 137);
}
/* B   A   N   N   E   R    2 */
.banner2 {
  position: relative;
  margin-top: 5%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
}
.backgroundPic {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
}
.banner2 article {
  align-self: center;
  width: 30%;
  z-index: 1;
  background-color: transparent;
}
.banner2 article h1 {
  font-size: 400%;
}
.banner2 article p {
  font-size: 120%;
  line-height: 150%;
}
.banner2 div {
  position: relative;
  width: 40%;
}
.pic3 {
  height: 80%;
  border-radius: 30px 30px 50% 30px;
}
.pic4 {
  width: 60%;
  border-radius: 150px 30px 30px 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -10%;
}
/* B   A   N   N   E   R   3 */
.banner3 {
  margin-top: 5%;
  height: 100%;
}
.layer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  display: none;
}
.layer2 p {
  font-size: 25px;
}
.layer2 img {
  width: 30%;
  background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0, 0 ,0, 1));
}
.pic5 {
  border-radius: 0 50% 50% 0;
}
.pic6 {
  border-radius: 100% 0 0 100%;
}