* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
body {
  width: 100vw;
}
img {
  width: auto;
  height: 100%;
}
header {
  height: 7vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
/* N   A   V   I   G   A   T   I   O   N */
nav {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  align-items: center;
}
nav div {
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
nav div ul {
  position: absolute;
  line-height: 9vh;
  width: 13vw;
  padding-left: 15px;
  box-shadow: 0px 10px 20px -20px;
  overflow: hidden;
  transition: opacity 0.5s ease;
  opacity: 0;
}
nav div:hover ul {
  opacity: 100%;

}
/* S   E   A   R   C   H*/
.search {
  border-bottom: 2px solid;
  display: flex;
  align-items: center;
}
.search input {
  border: none;
  font-size: 20px;
  padding: 10px;
}
.search:focus ~ input{
  border: none
}
/* C   A   R   T */
.cart {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
/* B   A   N   N   E   R   1 */
.banner1 {
  margin-top: 10vh;
  display: flex;
  height: 90vh;
  width: 100vw;
}
.banner1 img {
  width: auto;
  height: 70%;
  border-radius: 45%;
  margin: 0 2%;
}
.banner1 article {
  width: 100%;
  margin: 5% 1% 10% 10%;
}
.banner1 article h1 {
  font-size: 50px;
}
.banner1 article p {
  margin-top: 5%;
  font-size: 20px;
}
