body {
  background-color: darkslategray;
}
.advert {
  margin-top: 13%;
  position: fixed;
  top: 0;
  width: 100%;
}
.ad-l {
  border: 2px solid;
  width: 15%;
}
.ad-r {
  border: 2px solid;
  width: 15%;
  position: absolute;
  right: 0;
}
.main {
  background-color: rgb(46, 30, 73);
  margin: 1% 15.5%;
  padding: 1% 1%;
}
.title {
  color: azure;
  border: 1px solid;
}
h1 {
  position: relative;
  margin: 0;
  padding: 1%;
}
.trap {
  position: absolute;
  font-size: 20px;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
th {
  width: 30%;
  color: rgb(148, 177, 110);
  border: 2px solid rgb(81, 48, 139);
}
img {
  width: 100%;
}
.top-btn {
  /* Decoration */
  font-size: 55px;
  width: 10vw;
  margin-top: 120vh;
  text-align: center;
  /* Behaviour */
  position: sticky;
  top: 85%;
  float: right;
}