* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}
header {
  background-color: chocolate;
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 3;
}
.head {
  width: 100%;
  height: 100%;
  font-size: 35px;
  text-align: center;
}
.head a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.logo {
  width: 30%;
  margin: auto 0;
  font-size: 45px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 30px;
  word-spacing: 25px;
  background-color: rgb(173, 84, 84);
}
/*    G     A     M     E */
.bn-g {
  width: 20%;
  position: relative;
}
.bn-g p {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-weight: 900;
}
.bn-g ul {
  transform: translateX(-50%);
  margin: 1px 50%;
  display: none ;
  position: absolute;
  background-color: white;
  width: 40%;
  list-style: none;
  padding: 0;
  line-height: 50px;
}
.bn-g ul a {
  margin: 0;
 display: block;
}
.bn-g:hover {
  background-color: rgb(151, 113, 86);
}
.bn-g:hover ul{
  display: block;
  background-color: rgb(151, 113, 86);
}
.bn-g ul li:hover {
  background-color: rgb(199, 170, 149);
}
/*    M     O     V     I     E */
.bn-m {
  width: 20%;
  position: relative;
}
.bn-m p {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1.5;
  font-weight: 900;
}
.bn-m ul {
  transform: translateX(-50%);
  margin: 1px 50%;
  display: none ;
  position: absolute;
  background-color: white;
  width: 40%;
  list-style: none;
  padding: 0;
  line-height: 50px;
}
.bn-m ul a {
  margin: 0;
 display: block;
}
.bn-m:hover {
  background-color: rgb(151, 113, 86);
}
.bn-m:hover ul{
  display: block;
  background-color: rgb(151, 113, 86);
}
.bn-m ul li:hover {
  background-color: rgb(199, 170, 149);
}
.search-box {
  transform: translateY(-10%);
  width: 90%;
  height: 60%;
  border-radius: 10px;
  border: 1px solid;
  font-size: 20px;
}