@media screen and (max-width: 576px) {
  header {
    display: grid;
    grid-template: 9vh / 10% 90%;
  }
  .category {
    display: none;
  }
  input {
    display: none;
  }
  .Login {
    display: none;
  }
  .Logo {
    font-size: 4vh;
  }
  .opt a{
    font-size: 200%
  }
  .g-banner {
    grid-template: 1fr 1fr 1fr 1fr/ 50% 50%;
  }
  .m-banner {
    grid-template: 1fr 1fr 1fr 1fr/ 50% 50%;
  }
  .mid div {
    border-radius: 15px   ;
  }
}
